html
  head
    title minimalist
    meta(name='viewport' content='width=device-width, user-scalable=no')

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.js')

    link(rel='stylesheet' href='/vendor.css')

  body(ng-app='app')
    include pages/home

    //- include pages/button

    section.mn-layout-container(ng-controller='HomeController as home' style='margin-bottom: 2em')

    mn-form
      h3 chips
      .mn-card.padding.mn-layout-row
        span.mn-chip hello
        span.mn-chip hello

      mn-number.mn-card(placeholder='MnNumber' ng-model='home.numAdt' min='0' max='10' maxlength='2' required)
      mn-number.mn-card(placeholder='MnNumberFilho' ng-model='home.numChd' min='0' max='10' maxlength='2' ng-disabled='true' required)
      mn-input.mn-card(placeholder='MnInputHora' ng-model='home.hora' type='time' required)

      mn-button.raised(ng-click='home.openDialog()') MnButton

      .mn-layout-column.mn-layout-sm-row
        mn-search.mn-card(
          placeholder='MnSearchMultiple'
          ng-model='home.casas'
          houses-search
          multiple)

      .mn-layout-column.mn-layout-sm-row
        mn-search.mn-card(
        placeholder='MnSearchSingle'
        ng-model='home.casa'
        houses-search)

      .mn-layout-column.mn-layout-sm-row
        mn-search.mn-card(
        placeholder='MnSelectMultiple'
        ng-model='home.casas'
        houses-search
        multiple)

      .mn-layout-column.mn-layout-sm-row
        mn-select.mn-card(
        placeholder='MnSelectSingle'
        ng-model='home.casa'
        houses-search)

      .mn-card.list.mn-item.mn-layout-row
        h3.flex MnDialog
        mn-button.action(
          open-dialog='restricoesAgrupadas'
          title='Adicionar'
        )
          .zmdi.zmdi-plus +

      mn-list.mn-card
        .test-to-nested-items
          .mn-item lero 1
          .mn-item(collapse)
            span lero 2
            mn-list.mn-item-detail
              .mn-item lorem 1
              .mn-item lorem 2
          .mn-item lero 3

      div.mn-layout-row.align-end
        mn-button(ui-sref='^') Cancelar
        mn-button.raised(submit) Salvar

    //- .mn-card.padding
        mn-form(submit='home.submit()')
          .mn-layout-column
            p {{ home }}
          .mn-layout-column.flex
            mn-input.flex(placeholder='Name' required ng-model='home.name')
            //- mn-input.flex(placeholder='Houses' required ng-model='home.houses' multiple)
            mn-number.flex(placeholder='Number' required ng-model='home.number' ng-if='home.name')
            mn-number.flex(placeholder='Numbers' required ng-model='home.numbers' multiple)
            mn-select.flex(placeholder='Selecione' required ng-model='home.options' multiple)
              option lorem
              option ipsum
            mn-search.flex.houses(placeholder='Houses' required ng-model='home.houses' multiple)
          .mn-layout-row.align-end
            mn-button(reset) reset
            mn-button(empty) empty
            mn-button.raised(submit) submit

mn-dialog#restricoesAgrupadas
  h2 Definir restrição

  mn-form
    .mn-layout-column
      mn-input.flex(
        placeholder='Valores'
        name='values'
        ng-model='home.valores'
        required
        multiple
      )

      mn-button(close-dialog) Cancelar
      mn-button.raised(submit) Aplicar


    script(src='/vendor.js')
    script.
      const form = document.querySelector('mn-form')
      const number = document.querySelector('mn-number[placeholder="Number"]')
      const numbers = document.querySelector('mn-number[placeholder="Numbers"]')
